## Visual Studio
.vs/
*.suo
*.user

## Build folders and files
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
**/bin/**
**/obj/**
bin/**
obj/**

## Ignore all files in bin and obj
[Bb]in
[Oo]bj

## SQL files
database_setup.sql
add_branch_columns.sql
